<% provide(:title, "Access") %>
<div class="panel" align="center">
	<h1> ACCESS </h1>
	<br>

<% if  current_user.employee? %>
	<%= link_to "Request", new_access_path, class: "button round tiny" %>
<% end %>
<% if @accesses.any? %>
	<%= render 'access' %>
<% end %>
</div>
