<% provide(:title,"All Requests")%>
<table>
  <thead>
    <tr>
      <th>Employee Name</th>
      <th>Request for</th>
      <th>Equipment Name</th>
      <th>Equipment Requested For</th>
      <th>Equipment Type</th>
      <th>Requested On</th>
      <th>Manager's Name</th>
      <th>Status</th>
      <% if (@issuances.first.user != current_user) && current_user.manager? %>
        <th>Manager actions</th>
      <% else %>
        <th>Actions</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @issuances.each do |issuance|%>
      <tr>
        <% if issuance.issuable_type == 'Equipment'%>
          <td><%= issuance.user.full_name.capitalize %></td>
          <td><%= issuance.issuable_type %></td>
          <td><%= issuance.issuable&.name&.capitalize %></td>
          <td><%= issuance.issuable.description %></td>
          <td><%= issuance.issuable.kind.capitalize %></td>
          <td><%= issuance.created_at.strftime("%D") %></td>
          <td><%= issuance&.issuer&.full_name %></td>
          <td><%= issuance.state %></td>
          <% if (issuance.user != current_user) && current_user.manager? %>
            <td>
              <%= form_for issuance do |f|%>
                <% if issuance.approved? %>
                  <%= f.submit "Reject" , class: "button tiny alert round" %>
                <% elsif issuance.rejected?%>
                  <%= f.submit "Approve", class: "button tiny success round" %>
                <% else %>
                  <%= f.submit "Approve", class: "button tiny success round" %>
                  <%= f.submit "Reject" , class: "button tiny alert round" %>
                <% end %>
              <% end %>
            </td>
          <% else %>
            <td><%= link_to "View", issuance_path(issuance) , class: "button tiny success round"%>
              <%= link_to "Edit", edit_issuance_path(issuance), class: "button tiny notice round" %>
             <%= link_to "Revoke", issuance_path(issuance), method: :delete, class: "button tiny alert round" %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
