<% provide(:title, "Attendance") %>
<br>
<div align="center">
	<%= render 'form' %>
	<%= render 'attendance'%>
	<%= link_to "Request Leave", new_leave_path, class: "button success tiny" %>
	<%= link_to "Request Equipment", new_equipment_path, class: "button notice tiny" %>
</div>
