<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">SmarterHR</a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <%if user_signed_in? %>
       <li class="has-dropdown profile">
        <a href="#"> <%= current_user.full_name.capitalize %> </a>
        <ul class="dropdown">
          <li> <%= link_to "Profile",edit_user_registration_path %></li>
          <li> <%= link_to "SignOut",destroy_user_session_path, method: :delete%></li>
        </ul>
       </li>
      <% end %>
    </ul>

    <!-- Left Nav Section -->
    <% if user_signed_in? %>
      <ul class="left">
        <li class="has-dropdown leaves">
          <a href="#"> Leaves </a>
          <ul class="dropdown">
            <li><a href="/leaves">View Leaves Requests</a></li>
            <% if current_user.employee? %>
              <li><a href="/leaves/new">Apply For Leave</a></li>
            <% end %>
          </ul>
        </li>
        <li class="has-dropdown equipment">
          <a href="#"> Equipment </a>
          <ul class="dropdown">
            <li><a href="/equipment">View Equipment Requests</a></li>
          <% if current_user.employee? %>
            <li><a href="/equipment/new">Request for Equipment</a></li>
          <% end %>
          </ul>
        </li>
      </ul>
    <% end %>
  </section>
</nav>
