<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">SmarterHR</a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <%if user_signed_in? %>
          <li class="has-dropdown equipment">
            <a href="#">Requests </a>
            <ul class="dropdown">
              <li><%= link_to  "My Requests", issuances_path if current_user.employee? %></li>
              <li><%= link_to "Employee requests", issuances_path(manager: true) if current_user.manager?%></li>
            </ul>
          </li>
        <li>
      </li>
       <li class="has-dropdown profile">
        <a href="#"> <%= current_user.full_name.capitalize %> </a>
        <ul class="dropdown">
          <li> <%= link_to "Profile",edit_user_registration_path %></li>
          <li> <%= link_to "SignOut",destroy_user_session_path, method: :delete%></li>
        </ul>
       </li>
      <% end %>
    </ul>
    <!-- Left Nav Section -->
      <% if user_signed_in? %>
        <ul class="left">
          <% if current_user&.super_manager? %>
            <li><%= link_to "New Equipment", new_equipment_path %> </li>
          <% else %>
          <li class="has-dropdown request">
            <a href="#"> New Request </a>
            <ul class="dropdown">
              <li><%= link_to "Access", new_access_path  %></li>
              <li><%= link_to "Leave", new_leave_path  %></li>
              <li><%= link_to "Equipment", new_issuance_path  %></li>
            </ul>
          </li>
          <% end %>
        </ul>
    <% end %>
  </section>
</nav>
